body {
  margin: 0;
  scroll-behavior: smooth;
  background: #009578;
}
#app {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  padding: 24px;
  gap: 24px;
  justify-content: center;
}
.note {
  height: 200px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  resize: none;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  outline-color: #f0ffff;
  font-size: 15px;
  font-family: sans-serif;
}
.add-note {
  height: 200px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 120px;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background 0.2s;
}
.add-note:hover {
  background: rgba(0, 0, 0, 0.2);
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 600px) {
  #app {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    padding: 30px 15px;
    gap: 20px;
  }
}
.author {
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 100;
  border-top-left-radius: 5px;
  padding: 6px;
  border-top: 1px solid #efefef;
  border-left: 1px solid #efefef;
  background: #fff2ff;
  color: rgb(18, 89, 241);
  text-decoration: none;
  margin-top: 3px;
}
.author img {
  max-width: 100%;
  border-radius: 100%;
  width: 22px;
  vertical-align: middle;
  object-fit: contain;
}
.author p {
  margin: 0;
  vertical-align: middle;
  display: inline;
  margin-left: 7px;
  font-weight: 500;
  font-size: 14px;
}
